@font-face {
	font-family: 'KMC-M';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(KMC-M.otf) format("opentype");
}

@font-face {
	font-family: 'KM-B';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(KMC-B.otf) format("opentype");
}
